body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 1) 100%, rgba(14, 214, 255, 1) 100%, rgba(54, 108, 191, 1) 100%);
}

h1 {
    margin-top: 2rem;
    margin-left: 2.5rem;
}

main {
    display: flex;
}

#chooseNumber {
    width: 50%;
}

#chooseNumber h2 {
    text-align: center;
}

#chooseNumber button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2.8rem;
    margin-top: 1.5rem;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(101, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border: none;
    color: white;
    font-size: 20px;
    /* https://stackoverflow.com/questions/12114570/how-to-align-texts-inside-of-an-input */
    text-align: center;
    cursor: pointer;
}

.numberBet {
    width: 50%;
    border: 2px solid black;
    border-radius: 20%;
}

.numberBet h2 {
    text-align: center;
}

.numberBet #myBets {
    margin-left: 5rem;
    width: 80%;
    height: 30%;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

.numberBet #myBets p {
    margin-left: 4.5rem;
    font-size: 30px;
}

.numberBet #winners {
    margin-left: 5rem;
    width: 80%;
    height: 30%;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

.numberBet #winners p {
    margin-left: 4.5rem;
    font-size: 30px;
}